<div class="col-sm-6" id="introId">
  <h4></h4>
  <h2>Introduction</h2>
  <p>Performance management is a continuous process of defining goals and expectations, working toward those goals while demonstrating Sandia's model behaviors, and pursuing individual career success. This cycle ensures not only individual and team success but Sandia's mission success as well.</p>

  <p>Use the diagram on this page</e> to explore the four phases of the cycle:
    <a href="#/goalsetting">Goal Setting</a>, <a href="#/midyear">Mid-Year Review</a>, <a href="#/careerdevelopment">Career Development</a> and <a href="#/yearend">Year-End Review</a>.
    Each section includes valuable resources - including important information on roles and responsibilities, tools and templates, and links to training - to help you work through each phase.</p>
  </div>
