<div class="container-fluid">
  <!-- site header -->
  <header class="row header" role="banner">
    <div class="container">
      <div class="headingGroup">
        <h1><a href="#/">Performance Management</a></h1>
        <p class="tagline hidden-xs">The Cycle of Success</p>
      </div>
      <nav id="primaryMenu" class="clearfix" role="navigation">
        <!-- <div class="menu-hamburger snl-glyphs snl-icon-menu visible-xs-inline-block visible-sm-block"></div>
         <span id="sectionHeading" class="visible-xs-inline-block">Performance Management</span>-->
        <!--<ul class="nav navbar-nav hidden-xs hidden-sm">-->
        <ul class="nav navbar-nav">
          <li ng-class="{active:$activeMenu=='intro'}"><a id="t-home" href="#/">Intro</a></li>
          <li ng-class="{active:$activeMenu=='goalsetting'}"><a id="t-goal-setting" href="#/goalsetting">Goal Setting</a></li>
          <li ng-class="{active:$activeMenu=='midyear'}"><a id="t-mid-year-review" href="#/midyear">Mid-Year Review</a></li>
          <li ng-class="{active:$activeMenu=='careerdevelopment'}"><a id="t-career-development" href="#/careerdevelopment">Career Development</a></li>
          <li ng-class="{active:$activeMenu=='yearend'}"><a id="t-year-end" href="#/yearend">Year-End Review</a></li>
          <li ng-class="{active:$activeMenu=='dialog'}"><a id="t-ongoing-dialog" href="#/dialog">Ongoing Dialogue &amp; Coaching</a></li>
          <li ng-class="{active:$activeMenu=='timeline'}"><a id="timeline" href="#/timeline">Activity Timeline</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>